@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<h1 class="text-danger">Erişim Reddedildi</h1>
<h2 class="text-danger">Bu kaynağa erişim yetkiniz bulunmamaktadır.</h2>
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Ana Sayfaya Dön</a>
</p>